@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueAugenblick';
  src: url('./src/fonts/NeueAugenblick-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f0f10;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: 'NeueAugenblick', Arial, sans-serif;
}

body::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(94,114,235,0.5) 10%, transparent 80%);
  filter: blur(100px);
  top: -50px;
  left: -100px;
}

body::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(255,145,144,0.5) 10%, transparent 80%);
  filter: blur(100px);
  bottom: -50px;
  right: -100px;
}

.container {
  position: relative;
  z-index: 10;
  max-width: 600px;
  padding: 20px;
}

.title {
  font-size: 200px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin: 0 0 10px;
  letter-spacing: -2px;
  color: transparent;
  background: linear-gradient(to right, #3494E6, #EC6EAD);
  -webkit-background-clip: text;
  background-clip: text;
}

.title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #FC466B, #3F5EFB);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.container:hover .title::before {
  opacity: 1;
}

.subtitle {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}

.highlight, .instantly {
  color: #ff9f43;
  font-weight: normal;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 25px 0 35px;
}

.logos img {
  height: 30px;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
  opacity: 0.8;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.2));
}

.button {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.button::after {
  content: "→";
  margin-left: 30px;
  font-size: 20px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}
